.card-missingIng {
    color: red;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
}
.card-text{
    text-align: center;
}
.recipeTitle{
    text-align: center;
}

.card-missing {
    margin-bottom: 0px;
    text-align: center;
}

.btn-outline-primary {
    border-color: teal;
    color: teal;
}

.btn-outline-primary:hover {
    background-color: teal;
    border-color: teal;
    color: white;
}

h1 {
    text-align: center;
    margin: 20px;
}

.wrapper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#titel{
    background-color: teal;
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left:20px;
    padding-right: 20px;
}

#afb{
    margin: 10px;
    padding-top: 50px;
}

.title{
    text-align: center;
}

#fileUpload {
    background-color: teal;
    border-color: teal;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#info{
    border-bottom: 2px solid teal;
    margin-bottom: 10px;
}

#uploadedImage{
    width:25%;
}